#admin{
    display: flex;
}
.a-header{
    text-align: center;
    line-height: 50px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
}
.a-header button {
    width: 80px;
    height: 20px;
}
.side-menu{
    flex-grow: 1;
    border-right: solid 1px gray;
}

#admin-body{
    flex-grow: 6;
    padding-left: 15px;
}

.side-menu ul li  a {
    text-decoration: none;
    color: black
}